@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Syne:wght@400;700;800&display=swap');

.page {
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  padding: 0 30px
}

.puzzleContainer {
  .puzzleTypeHeading {
    margin-bottom: 10px;
  }

  .puzzleList {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.title {
  font-family: 'Syne', sans-serif;
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;

}