@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Syne:wght@400;700;800&display=swap');

.puzzleCard {
  background-color: beige;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      font-family: 'Syne', monospace;
    }
  }
}

.difficulty {
  //green color and pill shape
  background-color: #d4edda;
  color: #155724;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  font-style: 'DM Mono', monospace;
}

.icon {
  border-radius: 8px;
}